@import "~jquery-ui/dist/themes/base/jquery-ui.min.css";
@import "~jquery-ui/dist/themes/start/jquery-ui.min.css";
@import "~@fancyapps/ui/dist/fancybox/fancybox.css";
@import "~bxslider/dist/jquery.bxslider.min.css";
:root {
  /* SG SOLAR logo colors (BLUE) */
  --sgs-main-blue-50: #f0f7ff;
  --sgs-main-blue-100: #e1effd;
  --sgs-main-blue-200: #bcddfb;
  --sgs-main-blue-300: #81c4f8;
  --sgs-main-blue-400: #3da5f3;
  --sgs-main-blue-500: #148ae3;
  --sgs-main-blue-600: #076bc2;
  --sgs-main-blue-700: #075194;
  --sgs-main-blue-800: #0b4a81;
  --sgs-main-blue-900: #0f3e6b;
  --sgs-main-blue-950: #0a2847;
  /* SG SOLAR logo colors (ORANGE) */
  --sgs-main-orange-50: #fffcea;
  --sgs-main-orange-100: #fff7c5;
  --sgs-main-orange-200: #ffee87;
  --sgs-main-orange-300: #ffdf48;
  --sgs-main-orange-400: #ffcd1e;
  --sgs-main-orange-500: #fcac04;
  --sgs-main-orange-600: #e58600;
  --sgs-main-orange-700: #b95b04;
  --sgs-main-orange-800: #96460a;
  --sgs-main-orange-900: #7b3a0c;
  --sgs-main-orange-950: #471c01;
  /* SG SOLAR primary logo colors */
  --sgs-primary-orange: #E58600;
  --sgs-primary-blue: #075194;
  --sgs-white: #fff;
  --sgs-black: #000;
  --sgs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --sgs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --sgs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --sgs-body-font-family: var(--sgs-font-sans-serif);
  --sgs-body-font-size: 1rem;
  --sgs-body-font-weight: 400;
  --sgs-body-line-height: 1.5;
  --sgs-body-color: #212529;
  --sgs-body-color-rgb: 33, 37, 41;
  --sgs-body-bg: #fff;
  --sgs-body-bg-rgb: 255, 255, 255;
  --sgs-container-background: hsl(0, 0%, 100%);
  --sgs-container-color: hsl(209, 91%, 30%);
  --prefixcolumn-grid-gap-catalogs: 10px;
  --prefixrow-grid-gap-catalogs: 10px;
  --p-max-width: 180ch;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sgs-main-blue-700);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--sgs-main-blue-100);
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-attachment: fixed;
  -webkit-tap-highlight-color: transparent;
  hanging-punctuation: first last;
}

body {
  min-height: 100svh;
  scrollbar-face-color: #90c3ef;
  scrollbar-track-color: #4790d0;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
  font-family: var(--sgs-body-font-family);
  font-size: var(--sgs-body-font-size);
  font-weight: var(--sgs-body-font-weight);
  line-height: var(--sgs-body-line-height);
  color: var(--sgs-body-color);
  text-align: var(--sgs-body-text-align);
  background-color: var(--sgs-body-bg);
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::placeholder {
  color: var(--sgs-main-blue-500);
}

/* responsive images/videos */
img, picture, svg, video {
  display: block;
  max-width: 100%;
}

img {
  font-style: italic;
  display: block !important;
  max-width: 100% !important;
  vertical-align: middle;
  height: auto !important;
  shape-margin: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Improved heading in supported browsers */
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  max-width: var(--p-max-width, 72ch);
  text-wrap: pretty;
}

a {
  color: var(--sgs-main-blue-500);
}

/* form checkbox */
input[type=checkbox], input[type=radio] {
  margin: 1px 5px 0;
}

.sgs-collection-brands {
  margin: 0 auto;
  height: 100%;
  background: var(--sgs-white);
  color: var(--sgs-black);
  font-family: system-ui, sans-serif;
}
.sgs-collection-brands .sgs-top-header {
  max-width: 50rem;
  padding: 1rem 1rem;
  margin: 0 auto;
  text-align: center;
}
.sgs-collection-brands .sgs-top-header h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.13ch;
}
.sgs-collection-brands .sgs-top-header p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.brands-wrapper {
  position: relative;
  display: grid;
  justify-content: center;
  place-items: center;
  background: var(--sgs-main-blue-50);
  border-radius: 0.5rem;
  margin: 0 auto;
  padding-top: 0;
  z-index: 4;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  max-width: 900px;
}
@media (max-width: 1024px) {
  .brands-wrapper {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 413px) {
  .brands-wrapper {
    max-width: 590px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0;
  }
}

div[class^=catalogs-wrapper-] {
  position: relative;
  display: grid;
  justify-content: center;
  place-items: center;
  background: var(--sgs-main-blue-50);
  border-radius: 0.5rem;
  margin: 0 auto;
  padding-top: 0;
  z-index: 4;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  column-gap: var(--prefixcolumn-grid-gap-catalogs);
  row-gap: var(--prefixrow-grid-gap-catalogs);
  max-width: 1050px;
  min-width: 200px;
  text-align: center;
}
@media (max-width: 1024px) {
  div[class^=catalogs-wrapper-] {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 413px) {
  div[class^=catalogs-wrapper-] {
    max-width: 590px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0;
  }
}
div[class^=catalogs-wrapper-].cols-1 {
  grid-template-columns: repeat(1, minmax(150px, 1fr));
}
div[class^=catalogs-wrapper-].cols-2 {
  grid-template-columns: repeat(2, minmax(150px, 1fr));
}
div[class^=catalogs-wrapper-].cols-3 {
  grid-template-columns: repeat(3, minmax(150px, 1fr));
}
@media (max-width: 1024px) {
  div[class^=catalogs-wrapper-] {
    grid-template-columns: repeat(2, minmax(150px, 1fr)) !important;
  }
}

article.brand-box {
  position: relative;
  height: 100%;
  background: var(--sgs-cards-color);
  padding: 0;
  border-radius: 0.5rem;
  z-index: 4;
  margin: 0;
  min-width: 150px;
  max-width: 150px;
  aspect-ratio: 150/150;
}
article.catalog-box {
  position: relative;
  height: 100%;
  background: var(--sgs-cards-color);
  padding: 0;
  border-radius: 0.5rem;
  z-index: 4;
  margin: 0;
  min-width: 250px;
  max-width: 250px;
  aspect-ratio: 250/250;
}
@media (max-width: 1024px) {
  article.catalog-box {
    min-width: 150px;
    max-width: 150px;
    aspect-ratio: 150/150;
  }
}

.sgs-brand, .sgs-catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  color: var(--sgs-white);
  backface-visibility: hidden;
  text-decoration: none;
  overflow: clip;
  border-radius: 0.5rem;
}
.sgs-brand > *, .sgs-catalog > * {
  z-index: 1;
}
.sgs-brand::before, .sgs-catalog::before {
  transition: 300ms opacity linear;
}
.sgs-brand::after, .sgs-catalog::after {
  background: linear-gradient(180deg, hsl(51, 100%, 96%) 0, hsl(35, 100%, 45%) 100%);
  opacity: 0;
  transition: 300ms opacity linear;
}
.sgs-brand::before, .sgs-brand::after, .sgs-catalog::before, .sgs-catalog::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
  top: 0;
  left: 0;
}
.sgs-brand:hover, .sgs-catalog:hover {
  border: 1px solid var(--sgs-main-blue-700);
  border-radius: 0.5rem;
}
.sgs-brand:hover :is(h2, p), .sgs-catalog:hover :is(h2, p) {
  transform: none;
}
.sgs-brand:hover::after, .sgs-brand:hover::before, .sgs-catalog:hover::after, .sgs-catalog:hover::before {
  opacity: 0.7;
}
.sgs-brand:hover p, .sgs-catalog:hover p {
  opacity: 1;
  transition-delay: 200ms;
}
.sgs-brand:hover img.sgs-brand-logo, .sgs-brand:hover img.sgs-catalog-image, .sgs-catalog:hover img.sgs-brand-logo, .sgs-catalog:hover img.sgs-catalog-image {
  filter: grayscale(0);
  transform: scale(0.7);
}
.sgs-brand img.sgs-brand-logo, .sgs-brand img.sgs-catalog-image, .sgs-catalog img.sgs-brand-logo, .sgs-catalog img.sgs-catalog-image {
  position: absolute;
  width: auto;
  height: auto;
  margin: 0;
  object-fit: cover;
  filter: grayscale(0);
  border-radius: 0.5rem;
  transition: filter 200ms ease, transform 250ms linear;
  transform: scale(0.75);
  z-index: 1;
}
.sgs-brand h2.sgs-brand-name, .sgs-catalog h2.sgs-brand-name {
  font-size: 1.3rem !important;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
  padding: 3px;
  z-index: 10;
  margin-top: 90px;
  color: var(--sgs-main-blue-500);
}
.sgs-brand h2.sgs-catalog-name, .sgs-catalog h2.sgs-catalog-name {
  font-size: 1.3rem !important;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
  padding: 3px;
  z-index: 10;
  margin-top: 165px;
  background: #fff;
  border-radius: 2px;
  color: var(--sgs-main-blue-500);
  max-width: 250px;
  width: 150px;
}
.sgs-brand p, .sgs-catalog p {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}
.sgs-brand h2, .sgs-brand p, .sgs-catalog h2, .sgs-catalog p {
  transform: translateY(2ex);
}

.main-header .discount-tape .Gomag-HelloBar {
  background-color: var(--sgs-main-blue-100) !important;
  color: var(--sgs-main-blue-950) !important;
  border-radius: 0 0 5px 5px;
}

/* Title on category image tweak */
.category-image-header img {
  display: none;
}

@media (min-width: 769px) {
  #category-page .catTitle.catTitle-image-header {
    position: absolute;
    top: 60px;
    left: 60px;
    color: #fff;
    font-size: 1.9em !important;
    z-index: 100;
  }
  .category-image-header {
    height: 149px;
    width: 1096.5px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
  }
  .category-image-header img {
    height: 149px;
    width: 1100px;
    display: block;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to left, transparent, black 20%, black 80%, transparent 100%);
  }
}
/* currency drop toogle box */
.currency ._currencyDisplay {
  color: #444 !important;
  font-size: 1.3rem;
}
.currency ._currencyDisplay:after {
  content: "";
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 4px;
}
.currency .flag-drop {
  position: absolute;
  will-change: transform;
  top: 0;
  left: 0;
  transform: translate3d(0px, 18px, 0px);
  width: 76px !important;
  padding-left: 0;
  margin-bottom: 0;
}
.currency ul.flag-drop {
  padding: 0;
  margin: 0;
  display: block;
  min-width: 100%;
  transform-origin: top;
  animation-fill-mode: forwards;
  transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
  background: #fff;
  border: solid 1px rgba(0, 0, 0, 0.27);
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.currency .flag-drop li {
  margin-bottom: 0 !important;
  text-align: left;
  line-height: inherit;
}
.currency .flag-drop li:hover {
  background-color: var(--sgs-main-blue-200);
  color: #fff;
}
.currency ul li a {
  transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1), color 0.2s cubic-bezier(0.7, 0, 0.3, 1);
}
.currency ul li a:hover {
  color: #fff;
}
.currency ul li a.currencyList {
  display: block;
  width: 100%;
  padding: 0.5em 0.8em !important;
  clear: both;
  font-weight: 500;
  color: #484848 !important;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0 !important;
  border-bottom: solid 1px rgba(0, 0, 0, 0.27) !important;
}

@-webkit-keyframes stuckMoveUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes stuckMoveUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes stuckMoveDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes stuckMoveDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (max-width: 550px) {
  .sticky-add-to-cart--active {
    font-size: 0.8em;
  }
  .sticky-add-to-cart--active .sticky-add-to-cart__product {
    display: none !important;
  }
}
.sticky-add-to-cart-wrapper {
  height: auto;
}

.sticky-add-to-cart__product {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px;
}
.sticky-add-to-cart__product img {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  margin-right: 1.4rem;
  border-radius: 5px;
}
.sticky-add-to-cart__product .product-title-small {
  margin-right: 1em;
  max-width: 180px;
  line-height: 1;
  color: #777;
  font-size: 13px;
}
.sticky-add-to-cart__product .product-title-small span {
  font-weight: 600;
}

.sticky-add-to-cart--hide {
  -webkit-animation: stuckMoveDown 0.6s;
  animation: stuckMoveDown 0.6s;
}

.sticky-add-to-cart--active {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #ddd;
  -webkit-animation: stuckMoveUp 0.6s;
  animation: stuckMoveUp 0.6s;
}
.sticky-add-to-cart--active .product-page-price {
  margin-top: 0;
  margin-right: 0.9em;
  margin-bottom: 0;
  font-size: 1.5rem;
  padding: 0;
  border: 0;
}
.sticky-add-to-cart--active .quantity, .sticky-add-to-cart--active form, .sticky-add-to-cart--active button {
  margin-bottom: 0;
}
.sticky-add-to-cart--active .sticky-add-to-cart__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.sticky-add-to-cart--active .quantity input[type=text] {
  display: block;
  float: left;
  border: 1px solid #dbdbdb;
  width: 36px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  border-left: 0;
  border-right: 0;
}
.sticky-add-to-cart--active .minus {
  border-radius: 32px 0 0 32px;
}
.sticky-add-to-cart--active .plus {
  border-radius: 0 32px 32px 0;
}
.sticky-add-to-cart--active .minus, .sticky-add-to-cart--active .plus {
  display: block;
  float: left;
  border: 1px solid #dbdbdb;
  color: #333;
  font-weight: 300;
  height: 32px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
}
.sticky-add-to-cart--active .add2cart.sticky-add-2-cart {
  vertical-align: top;
  float: none;
  display: inline-block;
  line-height: 1.4 !important;
  margin-left: 15px !important;
  margin-bottom: 4px !important;
}

.sticky-add-to-cart .add2cart.-g-addtocart-button-disabled {
  position: relative;
  padding-right: 55px !important;
}
.sticky-add-to-cart .add2cart.-g-addtocart-button-disabled:after {
  content: "";
  background: url("../../assets/stickyAddToCart/img/imgDots.svg");
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  margin: auto;
  height: 50px;
  width: 55px;
}

.price-wrapper span.amount {
  white-space: nowrap;
  color: var(--sgs-main-blue-500) !important;
  font-weight: 600;
}
.price-wrapper span.price-currencySymbol {
  font-size: 0.75em;
  vertical-align: top;
  margin-top: 0.05em;
}

.text-main {
  color: var(--main-color-blue-500);
}

#result-page > .search-form {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.autocomplete-suggestion .ac-list .ac-price > s {
  color: var(--sgs-main-blue-700) !important;
}
.autocomplete-suggestion .ac-list .ac-price > span.text-main {
  color: var(--sgs-main-blue-500) !important;
}

.ac-h .ac-list::-webkit-scrollbar-thumb {
  background: var(--sgs-main-blue-700) !important;
}
.ac-h .ac-list::-webkit-scrollbar-track {
  background: var(--sgs-main-blue-100) !important;
}
.ac-h .ac-list::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(68, 68, 68, 0.8);
}

.main-menu ul > li > a {
  color: var(--sgs-main-blue-500) !important;
  font-weight: normal;
  font-style: normal;
  font-size: 13px !important;
  text-transform: uppercase;
}

.main-menu .sg-menu-top-bold {
  font-weight: 600 !important;
}

.main-menu ul > li:hover > a, .menu-dd a:hover {
  color: var(--sgs-main-blue-700) !important;
}

.main-header .main-menu {
  /* border-bottom: 2px solid #4790d0; */
  border-bottom: none;
}
.main-header .main-menu > li > a {
  color: var(--sgs-main-blue-700) !important;
}
.main-header .main-menu > li:hover > a {
  color: var(--sgs-main-blue-700) !important;
}

.mobile-icon li a {
  color: var(--sgs-main-blue-500) !important;
}
.mobile-icon li:hover a {
  color: var(--sgs-main-blue-700) !important;
}

#mm-main-menu .mm-navbar {
  color: var(--sgs-main-blue-500) !important;
}

#mm-nav-filter .mm-navbar {
  color: var(--sgs-main-blue-500) !important;
}

.menu-dd.open li a {
  font-size: 1.2rem !important;
  font-weight: 500;
}
.menu-dd li a:hover {
  color: var(--sgs-main-blue-700) !important;
}
.menu-dd li .title {
  margin-bottom: 5px;
}
.menu-dd li .title a {
  color: var(--sgs-main-blue-500) !important;
  font-weight: 400 !important;
  font-size: 1.35rem !important;
  text-transform: uppercase !important;
}

.main-header.fix-nav #navigation {
  transition: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}

.main-header.fix-nav .top-head {
  transition: none !important;
}
.main-header.fix-nav.fade-menu {
  transition: none !important;
  -webkit-transition: none !important;
  transform: none !important;
}
.main-header.fix-nav.fade-menu.animate-menu {
  transform: none;
}
.main-header.fix-nav.fade-menu #navigation {
  -webkit-transform: none !important;
  transform: none !important;
}

.breadcrumb {
  font-size: 1.3rem;
}

.breadcrumbs-default ol li a {
  font-weight: 500;
  font-size: 1.3rem;
}
.breadcrumbs-default ol li.active {
  font-size: 1.4rem;
  color: var(--sgs-main-blue-500) !important;
  font-weight: 600;
}

.filter.box {
  background-color: var(--sgs-main-blue-100);
  border-radius: 10px;
}
.filter.box .title {
  background-color: var(--sgs-main-blue-100);
}
.filter.box .option-group a {
  font-weight: 500;
}

.owl-carousel .owl-wrapper-outer {
  border-radius: 10px;
}
.carousel-slide .owl-theme .owl-controls .owl-buttons div {
  background: var(--sgs-main-blue-300) !important;
}
.carousel-slide .owl-theme .owl-controls .owl-buttons div:hover {
  background: var(--sgs-main-blue-500) !important;
}

/* Spaces between carouse slide paddingg bottom and top */
@media screen and (min-width: 768px) {
  .carousel-slide .holder {
    padding: 20px 60px 7px;
  }
}
.product-box .box-holder {
  padding: 20px 18px;
  border-radius: 10px;
}

.title-carousel .title {
  color: var(--sgs-main-blue--500);
}

#wrapper .icon-group {
  top: 10px;
  box-shadow: 0px 0px 10px -1px #ccc;
}
#wrapper .icon-group .col .icon-label {
  text-align: center !important;
}
#wrapper .icon-group.detail {
  margin-top: 0;
}
#wrapper .icon-group.loaded {
  background-color: var(--sgs-main-blue-100) !important;
}

.btn:hover {
  background: var(--sgs-main-blue-600) !important;
  border: 1px solid var(--sgs-main-blue-600) !important;
  /*background: rgb(20,138,227) !important;*/
  /*background: linear-gradient(0deg, rgba(20,138,227,1) 58%, rgba(20,138,227,1) 100%) !important;*/
  opacity: unset;
  color: white;
}
.btn.focus, .btn:focus-visible {
  color: #fff;
}
.btn.std {
  background: var(--sgs-main-blue-500) !important;
  border: 1px solid var(--sgs-main-blue-500) !important;
}
.btn.btn-cmd {
  background: var(--sgs-main-blue-500) !important;
  border: 1px solid var(--sgs-main-blue-500) !important;
  /*background: rgb(61,165,243) !important;*/
  /*background: linear-gradient(0deg, rgba(61,165,243,1) 20%, rgba(7,107,194,1) 85%) !important;*/
}
.btn.btn-cmd:hover {
  background: var(--sgs-main-blue-600) !important;
  border: 1px solid var(--sgs-main-blue-600) !important;
  /*background: rgb(20,138,227) !important;*/
  /*background: linear-gradient(0deg, rgba(20,138,227,1) 58%, rgba(20,138,227,1) 100%) !important;*/
  opacity: unset;
}

.search-button {
  width: 38px;
  height: 38px;
  border-radius: 38px;
  color: #fff;
  background: var(--sgs-main-blue-500);
}
.search-button:hover {
  background: var(--sgs-main-blue-600) !important;
  border: 1px solid var(--sgs-main-blue-600) !important;
  /*background: rgb(20,138,227) !important;*/
  /*background: linear-gradient(0deg, rgba(20,138,227,1) 58%, rgba(20,138,227,1) 100%) !important;*/
  opacity: unset;
}

.btn1:hover {
  background: var(--sgs-main-blue-600) !important;
  border: 1px solid var(--sgs-main-blue-600) !important;
  /*background: rgb(20,138,227) !important;*/
  /*background: linear-gradient(0deg, rgba(20,138,227,1) 58%, rgba(20,138,227,1) 100%) !important;*/
  opacity: unset;
}

.main-btn:hover {
  background: var(--sgs-main-blue-600) !important;
  border: 1px solid var(--sgs-main-blue-600) !important;
  /*background: rgb(20,138,227) !important;*/
  /*background: linear-gradient(0deg, rgba(20,138,227,1) 58%, rgba(20,138,227,1) 100%) !important;*/
  opacity: unset;
}

.cart-header-btn .q-cart, .cart-m .q-cart {
  background: var(--sgs-main-blue-500) !important;
}

.detail-title, .detail-prod-attr {
  text-align: left;
}

.description-tab ._descriptionTab div > * {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
}

.specs-table > p {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsla(0, 0%, 63%, 0.25);
  word-break: break-word;
}
.specs-table > p b {
  display: inline-block;
  width: 300px;
}

.detail-product-atributes .short-description div > * {
  font-size: 1.1rem !important;
  font-weight: 500;
}

.icon.new {
  background: var(--sgs-main-blue-500) !important;
}
.icon.discount {
  background: var(--sgs-main-orange-500) !important;
}

.product-box .top-side-box a {
  font-weight: 500 !important;
  font-size: 1.4rem;
}
.product-box .top-side-box .top-side-box-sku {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--sgs-main-blue-500);
}

.-g-product-details .detail-product-atributes span.show-attributes:first-of-type {
  display: block !important;
  padding-top: 10px !important;
  margin-top: 10px !important;
  border-top: 1px solid #dbdbdb !important;
}
.-g-product-details .detail-product-atributes span.show-attributes > * {
  padding-bottom: 5px;
}
.-g-product-details .detail-product-atributes .show-attributes span.delivery_period {
  color: var(--sgs-main-blue-500);
  font-weight: 600;
}
.-g-product-details .detail-product-atributes .__shippingDeliveryTime b {
  color: var(--sgs-main-blue-500);
}
.-g-product-details .detail-product-atributes .short-description {
  border-top: 1px solid #dbdbdb !important;
  /*border-bottom: 1px solid #dbdbdb !important;*/
  padding-top: 10px !important;
  margin-top: 10px !important;
  /*padding-bottom: 10px !important;*/
}
.-g-product-details .__shippingPriceTemplate {
  font-size: 1.3rem;
}

.product-box .price s, .detail-price s, .cart-items .price s, .cart-dd .price s, .extra-offer .box-offer .price .price-full {
  color: var(--sgs-main-blue-700) !important;
}

.product-box .price, .product-box .price .text-main, .detail-price, .cart-items .price .text-main, .cart-dd .price .text-main, .extra-offer .box-offer .price .text-main {
  color: var(--sgs-main-blue-500) !important;
  font-weight: 500;
}

span[class*=-g-product-final-price-wihout-vat-] {
  display: block;
  font-size: 15px;
  color: var(--sgs-main-orange-500) !important;
  padding-left: 7px;
  padding-bottom: 5px;
}
span[class*=-g-product-final-price-wihout-vat-] .-g-product-vat-value {
  font-size: 1rem;
  vertical-align: text-bottom;
}

.add-section .qty-regulator {
  margin: 1.5px 5px 0 0 !important;
}

.prod-attr-h {
  text-align: left;
}
.prod-attr-h .available-ms {
  font-weight: 600 !important;
}

.wish-section > a {
  font-weight: 500 !important;
}
.wish-section .detail-share {
  display: inline;
}

.stock-status.on-order, .stock-status.pre-order {
  color: var(--sgs-main-blue-500) !important;
}

.product-code span {
  font-weight: 500;
  font-size: 1.2rem !important;
}
.product-code .code > strong {
  color: var(--sgs-main-blue-500) !important;
}

#product-page .detail-tabs .resp-tabs-list li {
  color: #fff !important;
}
#product-page .detail-tabs .resp-tabs-list li:only-child {
  border-radius: 5px 5px 5px 5px !important;
}
#product-page .detail-tabs .resp-tabs-list li:first-child {
  /* top-left top-right bottom-right bottom-left */
  border-radius: 5px 0 0 5px;
}
#product-page .detail-tabs .resp-tabs-list li:last-child {
  /* top-left top-right bottom-right bottom-left */
  border-radius: 0 5px 5px 0;
}

.product-bottom .detail-tabs .resp-tabs-list .resp-tab-item {
  background-color: var(--sgs-main-blue-300) !important;
}
.product-bottom .detail-tabs .resp-tabs-list .resp-tab-item.resp-tab-active {
  background-color: var(--sgs-main-blue-600) !important;
}

.specifications {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.specifications__table table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e4e7eb;
  border-radius: 5px;
  margin-bottom: 0;
}
.specifications__table table th[colspan] {
  background: #f5f7fa;
  font-size: 14px;
  text-transform: uppercase;
  color: #1c2126;
  letter-spacing: 1.12px;
  text-align: left;
}
.specifications__table table tr:nth-child(2n) {
  background-color: transparent;
}
.specifications__table table td {
  border-left: none;
  padding-left: 0;
}
.specifications__table table td, .specifications__table table th {
  padding: 10px 20px;
}
.specifications__table table td, .specifications__table table th:not([colspan]) {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  border: 1px solid #e4e7eb;
}

.specifications__headline {
  font-style: normal;
  font-size: 28px;
  line-height: 1.29;
  color: #1c2126;
  margin-top: 10px;
}

@media (min-width: 769px) {
  .specifications__headline {
    font-size: 45px;
    line-height: 1.22;
    text-align: center;
  }
}
#contact-page .title-box {
  margin-bottom: 10px;
}
#contact-page .register-terms {
  font-size: 1.1rem;
}
#contact-page .contact-information h3.title {
  color: var(--sgs-main-blue-500);
}
#contact-page .contact-information .info-list > li > strong {
  color: var(--sgs-main-blue-500);
}

.bottom-section .title {
  font-weight: 500;
}
.bottom-section .title span {
  font-weight: 500;
}
.bottom-section .holder {
  background: var(--sgs-main-blue-100);
  border-radius: 10px;
}
.bottom-section .col.social ul li a {
  color: var(--sgs-main-orange-500);
}

.-g-footer-affiliate-block {
  padding-bottom: 0;
}

.main-footer .col .title {
  margin-bottom: 5px;
}
.main-footer .col.-g-footer-company-data {
  font-size: 1.3rem;
}
.main-footer .col p.copyright {
  font-size: 1.3rem;
}
.main-footer .col p.copyright > span {
  display: none;
}
.main-footer .payment-accepted {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 3vw);
  grid-gap: 0 10px;
}

/* Footer affiliate block */
.-g-footer-affiliate-block {
  padding-top: 0;
}

.padded-boxes.section {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.padded-boxes .align_center {
  text-align: center;
}
.padded-boxes .w-image {
  max-width: 100%;
}
.padded-boxes .heading {
  margin: 0;
  padding: 1rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}
.padded-boxes .padded {
  padding: 0.1rem 1rem;
}
.padded-boxes .padded .wpb_wrapper p {
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 1.5rem;
}
.padded-boxes .padded .wpb_wrapper p:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .sg-col.sg-grid.stacking-default.mobiles-cols-1 {
    grid-template-columns: 100%;
  }
}
@media (max-width: 600px) {
  .sg-col:not([style*=grid-gap]) {
    grid-gap: 1.5rem;
  }
}
.m-bottom-23 {
  margin-bottom: 23px !important;
}

.w-image:not([class*=style_phone]) .w-image-h {
  background: inherit;
}

.w-image-h {
  display: block;
  border-radius: inherit;
  border-color: inherit !important;
  color: inherit !important;
}

.w-image img {
  vertical-align: top;
  border-radius: inherit;
}

.w-image-h img {
  height: auto;
  max-width: 100%;
}

.sg-col.sg-col-1 {
  grid-template-columns: 100%;
}

.sg-col.sg-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.sg-col.sg-grid {
  display: grid;
  grid-gap: 3rem;
}

.sg-col.content-row {
  margin-bottom: 0;
}

.sg-column.sg-column-container {
  min-width: 0;
  width: auto;
}

.sg-column-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.w-separator.size_small.with_line {
  height: 4rem;
}

.w-separator.color_border {
  color: #ebebeb;
}

.w-separator:not(.with_content),
.w-separator.with_content .w-separator-h {
  position: relative;
}

.w-separator.width_30 {
  width: 30%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.w-separator {
  clear: both;
  overflow: hidden;
  line-height: 0;
  height: 1.5rem;
}

.w-separator:not(.with_content) .w-separator-h:before {
  left: 50%;
  transform: translateX(-50%);
  right: auto;
}

.w-separator:not(.with_content) .w-separator-h:before {
  width: 100vw;
}

.w-separator-h:before {
  right: 100%;
}

.w-separator-h:before,
.w-separator-h:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 0;
  width: 100vw;
  border-top-width: 1px;
  border-top-style: solid;
}

.w-separator-h {
  display: inline-flex;
  align-items: center;
  height: inherit;
}

.align_center {
  text-align: center;
}

h2.sg-custom-heading {
  font-weight: 600;
  font-size: 36px !important;
  line-height: 1.3;
  letter-spacing: -0.03em;
  margin-bottom: 1.5rem;
  padding-top: 0;
}

.fancybox__container {
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
